@{
    ViewData["Title"] = "Головна сторінка";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Вітаємо, @User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" class="btn btn-primary" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Вхід</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Реєстрація</a>
}